<div class="container-fluid">
    <br>
    <div class="row" >
        <div class="col-md-3">
            <mdb-card class="card">
                <!--Card image-->
                <mdb-card-img src="https://encrypted-tbn2.gstatic.com/shopping?q=tbn:ANd9GcTqgNcxPoPRzu2nkb4t3qEhvprFInokVrZDBRFA7LroFesEQSF42IVGCitK6ncLmZSe88AhzbFhZ1Dhg1GI-_NAQYhzvQtnfxs5mMLep8vHxwCypxMNzQ2FYw&usqp=CAE" alt="Card image cap"></mdb-card-img>
                <!--Card content-->
                <mdb-card-body>
              
                  <!--Title-->
                  <mdb-card-title>
                    <h4>Card Title</h4>
                  </mdb-card-title>
              
                  <!--Text-->
                  <mdb-card-text> Some quick example text to build on the card title and make up the bulk of the card's
                    content.
                  </mdb-card-text>
              
                  <a href="#" mdbBtn color="primary" mdbWavesEffect>Button</a>
                </mdb-card-body>
              </mdb-card>
        </div>
        <div class="col-md-3">
            <mdb-card>
                <!--Card image-->
                <mdb-card-img src="https://encrypted-tbn1.gstatic.com/shopping?q=tbn:ANd9GcRuseWbH2JwGEAekwVos21HvtJlfKJ48a3woxBgyo9TqKXsMSsluahfYAEFts3ZxBtfT6OAXpeAwyzjEy5YDsQF__Vg_KbHoPh1VB35kNfwqkFltYE1FWATdYs&usqp=CAE" alt="Card image cap"></mdb-card-img>
                <!--Card content-->
                <mdb-card-body>
              
                  <!--Title-->
                  <mdb-card-title>
                    <h4>Card Title</h4>
                  </mdb-card-title>
              
                  <!--Text-->
                  <mdb-card-text> Some quick example text to build on the card title and make up the bulk of the card's
                    content.
                  </mdb-card-text>
              
                  <a href="#" mdbBtn color="primary" mdbWavesEffect>Button</a>
                </mdb-card-body>
              </mdb-card>
        </div>
        <div class="col-md-3">
            <mdb-card>
                <!--Card image-->
                <mdb-card-img src="https://encrypted-tbn1.gstatic.com/shopping?q=tbn:ANd9GcRuseWbH2JwGEAekwVos21HvtJlfKJ48a3woxBgyo9TqKXsMSsluahfYAEFts3ZxBtfT6OAXpeAwyzjEy5YDsQF__Vg_KbHoPh1VB35kNfwqkFltYE1FWATdYs&usqp=CAE" alt="Card image cap"></mdb-card-img>
                <!--Card content-->
                <mdb-card-body>
              
                  <!--Title-->
                  <mdb-card-title>
                    <h4>Card Title</h4>
                  </mdb-card-title>
              
                  <!--Text-->
                  <mdb-card-text> Some quick example text to build on the card title and make up the bulk of the card's
                    content.
                  </mdb-card-text>
              
                  <a href="#" mdbBtn color="primary" mdbWavesEffect>Button</a>
                </mdb-card-body>
              </mdb-card>
        </div>
        <div class="col-md-3">
            <mdb-card>
                <!--Card image-->
                <mdb-card-img src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(97).jpg" alt="Card image cap"></mdb-card-img>
                <!--Card content-->
                <mdb-card-body>
              
                  <!--Title-->
                  <mdb-card-title>
                    <h4>Card Title</h4>
                  </mdb-card-title>
              
                  <!--Text-->
                  <mdb-card-text> Some quick example text to build on the card title and make up the bulk of the card's
                    content.
                  </mdb-card-text>
              
                  <a href="#" mdbBtn color="primary" mdbWavesEffect>Button</a>
                </mdb-card-body>
              </mdb-card>
        </div>
    </div>
    <br>
    <br>

    <div class="row">
        <div class="col-md-3">
            <mdb-card >
                <!--Card image-->
                <mdb-card-img src="https://encrypted-tbn1.gstatic.com/shopping?q=tbn:ANd9GcRuseWbH2JwGEAekwVos21HvtJlfKJ48a3woxBgyo9TqKXsMSsluahfYAEFts3ZxBtfT6OAXpeAwyzjEy5YDsQF__Vg_KbHoPh1VB35kNfwqkFltYE1FWATdYs&usqp=CAE" alt="Card image cap"></mdb-card-img>
                <!--Card content-->
                <mdb-card-body>
              
                  <!--Title-->
                  <mdb-card-title>
                    <h4>Card Title</h4>
                  </mdb-card-title>
              
                  <!--Text-->
                  <mdb-card-text> Some quick example text to build on the card title and make up the bulk of the card's
                    content.
                  </mdb-card-text>
              
                  <a href="#" mdbBtn color="primary" mdbWavesEffect>Button</a>
                </mdb-card-body>
              </mdb-card>
        </div>
        <div class="col-md-3">
            <mdb-card>
                <!--Card image-->
                <mdb-card-img src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(97).jpg" alt="Card image cap"></mdb-card-img>
                <!--Card content-->
                <mdb-card-body>
              
                  <!--Title-->
                  <mdb-card-title>
                    <h4>Card Title</h4>
                  </mdb-card-title>
              
                  <!--Text-->
                  <mdb-card-text> Some quick example text to build on the card title and make up the bulk of the card's
                    content.
                  </mdb-card-text>
              
                  <a href="#" mdbBtn color="primary" mdbWavesEffect>Button</a>
                </mdb-card-body>
              </mdb-card>
        </div>
        <div class="col-md-3">
            <mdb-card>
                <!--Card image-->
                <mdb-card-img src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(97).jpg" alt="Card image cap"></mdb-card-img>
                <!--Card content-->
                <mdb-card-body>
              
                  <!--Title-->
                  <mdb-card-title>
                    <h4>Card Title</h4>
                  </mdb-card-title>
              
                  <!--Text-->
                  <mdb-card-text> Some quick example text to build on the card title and make up the bulk of the card's
                    content.
                  </mdb-card-text>
              
                  <a href="#" mdbBtn color="primary" mdbWavesEffect>Button</a>
                </mdb-card-body>
              </mdb-card>
        </div>
        <div class="col-md-3">
            <mdb-card>
                <!--Card image-->
                <mdb-card-img src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(97).jpg" alt="Card image cap"></mdb-card-img>
                <!--Card content-->
                <mdb-card-body>
              
                  <!--Title-->
                  <mdb-card-title>
                    <h4>Card Title</h4>
                  </mdb-card-title>
              
                  <!--Text-->
                  <mdb-card-text> Some quick example text to build on the card title and make up the bulk of the card's
                    content.
                  </mdb-card-text>
              
                  <a href="#" mdbBtn color="primary" mdbWavesEffect>Button</a>
                </mdb-card-body>
              </mdb-card>
        </div>
    </div>
</div>
